@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: Evolventa;
  src: local('Evolventa'), url('/public/fonts/Evolventa-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local('Evolventa Oblique'), url('/public/fonts/Evolventa-Oblique.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Evolventa;
  src: local('Evolventa Bold'), url('/public/fonts/Evolventa-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: url('/fonts/gunterz-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: url('/fonts/gunterz-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #272727 #272727;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d0d0;
  border-radius: 8px;
  border: 8px double #272727;
}

.alphabet-div {
  border-radius: 24px 24px 24px 24px;
}

.element {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(180deg, rgba(39, 39, 39, 0.16) 1.71%, #272727 69.62%);
}

body {
  margin: 0%;
}